body {
  margin: 0;
  background-color: #000;
  margin-top: 4rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media only screen and (min-width: 834px) {
  body {
    margin-top: 12rem;
    margin-bottom: 7.8rem;
  }

  .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 250px);
    grid-template-areas:
      "car speed"
      "car garage"
      "side wheel";
  }

  .car-1 {
    grid-area: car;
  }

  img {
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 255px 215px;
  }

  .img-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 300px;
    grid-template-areas:
      "car speed garage"
      "side wheel wheel";
  }

  .car-5 {
    grid-area: wheel;
  }
}
